// 颜色值
$color-primary: #3470FF;
$color-primary-hover: #ECF2FF;
$color-blue: #5474ff;
$color-green: #00da9b;
$color-yellow: #ffae00;
$color-red: #f67172;

$color-border: #d7d7d7;

$color-table-head-font: #818194;
$color-table-head-background: #F5F5FA;